.s-hero {
    padding-top: 8rem;
    .hero-content {
        @include flex-center-justify;
        gap: 2.4rem;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        padding-bottom: 9.7rem;
        .left {
            width: 100%;
            max-width: 60rem;
            h1 {
                font-size: 5.6rem;
                margin-bottom: 1.6rem;
                span {
                    color: $purple-10;
                    text-decoration: underline;
                    font-family: "Space Grotesk", sans-serif;
                }
            }
            p {
                max-width: 49.1rem;
                color: $gray-400;
                font-size: 2.2rem;
                line-height: 150%;
                margin-bottom: 3.2rem;
            }
            ul {
                width: 100%;
                max-width: 33.9rem;
                @include flex-center;
                gap: 2.57rem;
                margin: 4.8rem 0;
            }
        }
        .img-mobile {
            display: none;
        }
    }
    @include responsivo("laptop") {
        padding-top: 5rem;
        .hero-content {
            padding-bottom: 5rem;
            .left {
                max-width: 55rem;
                h1 {
                    font-size: 5rem;
                }
                p {
                    font-size: 2rem;
                }
            }
            & > img {
                max-width: 53rem;
            }
        }
    }
    @include responsivo("tablet") {
        .hero-content {
            flex-direction: column;
            gap: 4rem;
            .left {
                max-width: 100%;
                text-align: center;
                p {
                    margin: 0 auto;
                    margin-bottom: 3rem;
                }
                .form-email {
                    margin: 0 auto;
                    margin-bottom: 3rem;
                    input {
                        text-align: left;
                    }
                }
                ul {
                    margin: 4rem auto;
                }
                .review {
                    justify-content: center;
                }
            }
        }
    }
    @include responsivo("mobile") {
        padding-top: 4rem;
        .hero-content {
            .left {
                h1 {
                    max-width: 31.1rem;
                    font-size: 4rem;
                    letter-spacing: -0.12rem;
                    margin: 0 auto 1.6rem auto;
                }
                p {
                    max-width: 32rem;
                    font-size: 1.6rem;
                    margin-bottom: 3.2rem;
                }
            }
            & > img {
                display: none;
                max-width: 100%;
            }
            .img-mobile {
                display: block;
                max-width: 100%;
            }
        }
    }
}

.s-recurses {
    padding-top: 11.2rem;
    .top {
        @include flex-center-justify;
        margin-bottom: 8rem;
        h3 {
            max-width: 66.1rem;
            line-height: 120%; /* 4.8rem */
            letter-spacing: -0.12rem;
        }
        p {
            color: $gray-200;
            font-size: 1.6rem;
            line-height: 150%;
        }
    }
    .all {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        padding-bottom: 11rem;
    }
    @include responsivo("laptop") {
        padding-top: 5rem;
        .all {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 3rem;
        }
    }
    @include responsivo("tablet") {
        .top {
            flex-direction: column;
            gap: 3rem;
            margin-bottom: 5rem;
            h3 {
                text-align: center;
            }
        }
        .all {
            padding-bottom: 5rem;
        }
    }
    @include responsivo("mobile") {
        padding-top: 4rem;
        .top {
            margin-bottom: 3rem;
            h3 {
                font-size: 2.8rem;
            }
        }
        .all {
            grid-template-columns: 1fr;
            gap: 6.4rem;
        }
    }
}

.s-marketing {
    padding-top: 9.6rem;
    padding-bottom: 12.6rem;
    .box {
        width: 100%;
        max-width: 121.6rem;
        height: 46rem;
        background: url("../imgs/bg-box.svg") no-repeat center center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 1rem;
    }
    h2 {
        text-align: center;
        max-width: 78.6rem;
        font-size: 5.6rem;
        letter-spacing: -0.168rem;
        margin-bottom: 0.8rem;
    }
    p {
        color: $gray-200;
        text-align: center;
        font-size: 2rem;
        line-height: 150%; /* 3rem */
        max-width: 50.1rem;
        margin-bottom: 3.2rem;
    }
    @include responsivo("tablet") {
        .box {
            padding-right: 2rem;
            padding-left: 2rem;
        }
    }
    @include responsivo("mobile") {
        padding: 4rem 0;
        .box {
            height: auto;
            background-size: cover;
            padding-top: 4rem;
            padding-bottom: 4rem;
            h2 {
                color: $gray-100;
                font-size: 2.9rem;
                line-height: 120%;
                letter-spacing: -0.096rem;
                margin-bottom: 0.8rem;
            }
            p {
                color: rgba(255, 255, 255, 0.8);
                font-size: 1.8rem;
                letter-spacing: -0.054rem;
                margin-bottom: 2.4rem;
            }
        }
    }
}
